@{
    ViewData["Title"] = "Про нас";
}
   
<div class="image">
    <img src="~/img/aboutUs.jpg" id="imageAbout"/>
    <p id="textOnImage">

        Карго Експрес — найкращий оператор поштового зв’язку України.<br>
        Ми називаємо його просто: головна пошта країни.<br>
        Карго Експрес — це одна з найбільших мереж: більше 5 000 відділень забезпечують<br>
        покриття у 80% населених пунктів України.<br>
        Наша мета — це якісно та швидко доставити товар до місця призначення.
   
    </p>
</div>
<div class="content jumbotron">
    
    <h2 id="contH2">
        Наші цінності
    </h2>

    <ul>
        <li><a href="#" id="listValues">відповідальне ставлення до кожного клієнта;</a></li>
        <li><a href="#" id="listValues">забезпечення високої якості послуг;</a></li>
        <li><a href="#" id="listValues">гарантія надійності та оперативності.</a></li>
    </ul>

    <p id="textCon">
        Ми є національним оператором поштового зв’язку в Україні й беремо активну участь
        у роботі міжнародних організацій:<br> Всесвітнього поштового союзу, Асоціації європейських 
        державних поштових операторів PostEurop,<br> Регіональної співдружності у галузі зв’язку.
    </p>
    
    <h2 id="contH2">
        Корпоративна культура
    </h2>

    <p id="textCon">
        Наші співробітники - наш ключовий актив. Саме завдяки злагодженій роботі однодумців ми реалізуємо на ринку ефективні<br>
        інноваційні рішення для клієнтів. Компанія дбає про комфорт своїх співробітників.
    </p>
</div>