@{
    ViewData["Title"] = "Контакти";
}

<div class="jumbotron">
    <h2 id="contH2">Адреса та контакти</h2>
    <p id="textSt">Контакт-центр</p>
    <div>
        <h6>+380679825490</h6>
        <p id="textCon1">Безкоштовно по Україні,кожен день з 08:00 до 21:00.</p>
    </div>
    <p id="textSt">Електронна пошта Карго Експрес</p>
    <h6 id="textCon">cargo@Express.ua</h6>
    <p id="textCon1">Kожен день з 08:00 до 21:00.</p>
    <p id="textSt">Головний офіс</p>
    <h6 id="textCon">Україна, 61000, м.Харків вул.Весела , 21</h6>
</div>