@{
    ViewData["Title"] = "Карго Експрес - служба доставки";
}


<!--Слайды-->
<div class="carousel slide" data-ride="carousel" id="slides">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/slider1.jpg" />
        </div>
        <div class="carousel-item">
            <img src="img/slider2.jpg" />
        </div>
        <div class="carousel-item ">
            <img src="~/img/slider3.jpg" />
        </div>
    </div>
</div>
<!--Кнопки-->
<div class="container-fluid">
    <div class="row jumbotron">
        <ul class="hr mobile-menu">
            <li class="">
                <a href="~/Home/Calculate">
                    <buttom class="btn" id="PriceBtn">
                        <img src="~/img/priceBtn.jpg" id="imgPrice" /> <span>Вартість доставки</span>
                    </buttom>
                </a>
            </li>
            <li class="">
                <a href="~/Home/Geolocation">
                    <buttom class="btn " id="WayBtn">
                        <img src="~/img/mapBtn.png" id="imgWay" /> <span>Відстежити</span>
                    </buttom>
                </a>
            </li>
            <li class="">
                <a href="~/Home/Order">
                    <buttom class="btn btn-danger btn-lg" id="DecorBtn">
                        <img src="~/img/boxBtn.png" id="imgBox" /> <span>Оформити</span>
                    </buttom>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--Информация об услугах-->
<div class="container-fluid">
    <div class="row">
        <ul class="inline">
            <li>
                <img src="~/img/info11.jpg" id="imgInfo" />
            </li>
            <li>
                <img src="~/img/info2.jpg" id="imgInfo" />
            </li>
            <li>
                <img src="~/img/info3.jpg" id="imgInfo" />
            </li>
            <li>
                <img src="~/img/info4.jfif" id="imgInfo" />
            </li>
        </ul>
    </div>
</div>

<hr>
<!--Контакты-->
<div class="container-fluid">
    <p id="number">
        +38-067-98-25-490

    </p>
    <p id="text">
        Доставка по Україні, кожен день, з 08:00 до 21:00.
    </p>
</div>

