@{
    ViewData["Title"] = "Тарифи";
}



<div class=" form-group  jumbotron">
    <div class="row">
        <p class="col-sm-2"></p>
        <h2 id="textCon2" class="col-sm-5">Тарифи Карго Експрес</h2>
    </div>
    
    <div class="row">
        <p class="col-sm-2"></p>
        <img src="~/img/tarrifs.png" class="col-sm-5" />
    </div>
    <div class="row">
        <p class="col-sm-2"></p>
        <p class="col-sm-5" id="textCon1">
            Вартість доставки = ціна за 1 кг х маса вантажу <br>
            + вартість оформлення замовлення + сума комісії,<br>
            де сума комісії =  0,5 % х заявлена вартість вантажу
        </p>
    </div>
    
</div>
