@{
    ViewData["Title"] = "Дякую за замовлення";
}

<p id="Thank">Ваше замовлення успішно прийняте до обробки!<br />Очікуйте смс про прибуття.</p>
<p>Дякуємо,що скористалися нашими послугами!</p>
<a href="~/Home/Index">На головну</a>